# ===== Java =====
*.class
*.log

# ===== Build output =====
out/
bin/
target/

# ===== IntelliJ IDEA =====
.idea/
*.iml

# ===== Eclipse =====
.project
.classpath
.settings/

# ===== VS Code =====
.vscode/

# ===== OS =====
.DS_Store
Thumbs.db